:root {
  --cor-primaria: #2563eb;
  --cor-primaria-hover: #1e40af;
  
  --cor-sucesso: #15803d;
  --cor-alerta: #d97706;
  --cor-erro: #dc2626;
  
  --fundo: #f1f5f9;
  --card: #ffffff;
  --texto: #0f172a;
  --borda: #e2e8f0;
  --sub: #475569;
  --nav: rgba(255, 255, 255, 0.9);
  
  --sombra: 0 6px 16px rgba(0, 0, 0, 0.08);
  --radius: 12px;
}

.dark {
  --fundo: #020617;
  --card: #0f172a;
  --texto: #e2e8f0;
  --borda: #1e293b;
  --sub: #94a3b8;
  --nav: rgba(2, 6, 23, 0.95);
  
  --sombra: 0 8px 25px rgba(0, 0, 0, 0.6);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  color: var(--cor-primaria);
}