:root {
  --cor-primaria: #2563EB;
  --cor-primaria-hover: #1d4ed8;
  
  --cor-sucesso: #16a34a;
  --cor-alerta: #F59E0B;
  --cor-erro: #DC2626;
  
  /* 🔥 MELHORIAS NO MODO CLARO */
  --fundo: #f8fafc;
  --card: #ffffff;
  --texto: #0F172A;
  --borda: #e5e7eb;
  --sub: #64748b;
  --nav: rgba(255, 255, 255, 0.85);
  
  --sombra: 0 4px 12px rgba(0, 0, 0, 0.06);
  --radius: 12px;
}

/* MODO ESCURO */
.dark {
  --fundo: #0F172A;
  --card: #1E293B;
  --texto: #F1F5F9;
  --borda: #334155;
  --sub: #94A3B8;
  --nav: rgba(2, 6, 23, 0.9);
  
  --sombra: 0 6px 20px rgba(0, 0, 0, 0.5);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  outline: none;
  border: none;
  font-family: Arial, Helvetica, sans-serif;
}

.logo {
  color: var(--cor-primaria);
}